.header {
  color: #f1f1f1;
  text-align: center;
  background-color: rgb(7, 18, 24);
  padding: 40px 0;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.header-description {
  font-size: 1rem;
  letter-spacing: 1.3px;
  margin-top: 10px;
  font-weight: 300;
}
